<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="form-container">

    <div class="form-card">
        <h2>Change Password</h2>

        <form action="/change-password" method="post">

            <label>Old Password</label>
            <input type="password" name="oldPassword" required>

            <label>New Password</label>
            <input type="password" name="newPassword" required>

            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" required>

            <button type="submit" class="submit-btn">Update Password</button>

        </form>

    </div>

</div>

</body>
</html>