<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>

<h2>Change Password</h2>

<form action="/change-password" method="post">

    Old Password: <input type="password" name="oldPassword" required><br><br>

    New Password: <input type="password" name="newPassword" required><br><br>

    Confirm Password: <input type="password" name="confirmPassword" required><br><br>

    <button type="submit">Update Password</button>

</form>

</body>
</html>