<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Request</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="form-container">

    <div class="form-card">
        <h2>Create Service Request</h2>

        <form action="/save" method="post">

            <!-- Title -->
            <label>Title</label>
            <input type="text" name="title" required>

            <!-- Facility -->
            <label>Facility</label>
            <select name="facility" required>
                <option value="">--Select Facility--</option>
                <option value="Lab">Lab</option>
                <option value="Hostel">Hostel</option>
                <option value="Library">Library</option>
                <option value="Canteen">Canteen</option>
            </select>

            <!-- Description -->
            <label>Description</label>
            <input type="text" name="description" required>

            <!-- Priority -->
            <label>Priority</label>
            <select name="priority" required>
                <option value="">--Select Priority--</option>
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>

            <!-- Severity -->
            <label>Severity</label>
            <select name="severity" required>
                <option value="">--Select Severity--</option>
                <option value="LOW">LOW</option>
                <option value="MEDIUM">MEDIUM</option>
                <option value="HIGH">HIGH</option>
                <option value="CRITICAL">CRITICAL</option>
            </select>

            <button type="submit" class="submit-btn">Submit</button>

        </form>
    </div>

</div>

</body>
</html>