<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OHD Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="login-container">

    <div class="login-card">
        <h2>Online Help Desk</h2>
        <p class="subtitle">Create your account</p>

        <form th:action="@{/register}" method="post">

            <div class="input-group">
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter your name" required>
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="login-btn">Register</button>

        </form>

        <!-- Error -->
        <p class="error" th:text="${error}"></p>

        <p class="register-text">
            Already have an account?
            <a th:href="@{/}">Login</a>
        </p>
    </div>

</div>

</body>
</html>