<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Request List</title>
</head>
<body>

<h2>All Requests</h2>

<form method="get" action="/list">
    Filter:
    <select name="status">
        <option value="">All</option>
        <option value="UNASSIGNED">Unassigned</option>
        <option value="ASSIGNED">Assigned</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="CLOSED">Closed</option>
        <option value="REJECTED">Rejected</option>
    </select>
    <button type="submit">Filter</button>
</form>

<br>

<table border="1">

<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Assigned To</th>
    <th>Facility</th>
    <th>Actions</th>
    <th>Severity</th>
</tr>

<tr th:each="r : ${requests}">

    <td th:text="${r.title}"></td>
    <td th:text="${r.description}"></td>
    <td th:text="${r.priority}"></td>

    <td th:text="${r.severity}"></td>

    <td th:text="${r.status}"></td>

    <td th:text="${r.assignedTo != null ? r.assignedTo : 'Not Assigned'}"></td>

    <td th:text="${r.facility}"></td>

    <td>

        <a th:href="@{/updateStatus/{id}(id=${r.id})}">
            Update Status
        </a> 

        <a th:href="@{/assign/{id}(id=${r.id})}">
            Assign
        </a> 

        <a th:href="@{/close/{id}(id=${r.id})}">
            Close
        </a> 

        <a th:href="@{'/reject/' + ${r.id}}">Reject</a>

    </td>

</tr>

</table>

<br><br>

<a href="/home">Back to Home</a>

</body>
</html>